:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
}

.header {
  text-align: center;
  width: max-content;
  margin-left: auto;
  margin-right: auto;
}
.input {
  display: flex;
}

input {
  border: 1px solid black;
  border-radius: 5px;
  font-size: large;
}

button {
  background-color: hsl(0, 0%, 98%);
  border: 1px solid black;
  border-radius: 5px;
  width: 10rem;
  height: 2rem;
}
button:hover {
  background-color: bisque;
}

.title {
  font-size: 35px;
}
